name: Pull CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-python@v6.1.0
    - name: sss
      run: pip install -r requirements.txt
    - name: Pull
      run: python docker_image_puller.py -i mekayelanik/samba-server-alpine:latest -a arm64 -q --debug
    - name: ls
      run: ls
